<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/employee.css">
    <title>Працівники</title>
</head>
<body>
    {% include "nav-bar.html" %}
    <section>
        <div class="employee-info">
            <strong>ПІБ: {{employee.last_name}} {{employee.first_name}} {{employee.middle_name}}</strong>
            <strong>Вік: {{employee.age}}</strong>
            <strong>Адреса: {{employee.address}}</strong> 
            <strong>Контактна інформація: {{employee.email}}</strong>
            <strong>Освіта: {{employee.education}}</strong>
            <strong>Посада: {{employee.position}}</strong>
            <strong>Досвід: {{employee.experience}}</strong> 
            <strong>Заробітня плата: {{employee.salary}}₴</strong>

            <form action="{% if employee.slug %}{% url 'update-employee-page' slug=employee.slug %}{% endif %}" class="update-button-form">
                <button class="update-button">Редагувати</button> 
                {% csrf_token %}
            </form>
            <form action="{% if employee.slug %}{% url 'delete-employee' slug=employee.slug %}{% endif %}" method="post" class="update-button-form">
                {% csrf_token %}
                <button type="submit" class="update-button">Видалити</button>
            </form>
        </div>
    </section>
</body>
</html>